#loading .animate-spin {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }